.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}



/* задается фон боди */
.body {
            background: -webkit-linear-gradient(left, #474752 20px, transparent 1%) center, -webkit-linear-gradient(#474752 20px, transparent 1%) center, #636363;
            background: linear-gradient(90deg, #474752 20px, transparent 1%) center, linear-gradient(#474752 20px, transparent 1%) center, #636363;
            background-size: 22px 22px;
        }


/* кнопки разных цветов и размеров */
.well{
    min-height: 20px;

    height: 100%;/* задается высота и ширина верхнего блока с кнопками */
    width: 100%;

    padding: 19px;
    margin-bottom: 20px;
    background-color: black;/* задается цвет верхнего блока с кнопками */
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    text-align: center;
}
/* Базовые стили кнопок */
.btn {    
display: inline-block;
margin: 4px;
box-shadow: 1px 1px 5px #888888;    
padding: 6px 12px;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;/* задает фон всем кнопкам */

border: 1px solid transparent;
border-radius: 4px;
}

/* Мини кнопки */
.btn-xs{
border-radius: 3px;
font-size: 12px;
padding: 1px 5px;
line-height: 1.5;
}
 /* Маленькие кнопки */         
.btn-sm{
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
text-transform: uppercase;
}
/* Стандартные кноки */
.btn-md{
 text-transform: uppercase;
}
/* Большие кнопки */          
.btn-lg {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
text-transform: uppercase;    
}
 /* Красный оттенок кнопок */         
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}
/* Красная кнопка при наведении */
.btn-hot:hover, .btn-hot:focus {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;
}
/* Красная кнопка при нажатии */
.btn-hot:active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}
/* Желтый оттенок кнопок */
.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}
/* Желтая кнопка при наведении */
.btn-sunny:hover, .btn-sunny:focus {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}
/* Желтая кнопка при наведении */
.btn-sunny:active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}
/* Зелёный оттенок кнопок */
.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}
/* Зелёная кнопка при наведении */
.btn-fresh:hover, .btn-fresh:focus {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}
/* Зелёная кнопка при нажатии */
.btn-fresh:active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}
/* Синий оттенок кнопок */
.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}
/* Синяя кнопка при наведении */
.btn-sky:hover, .btn-sky:focus {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}
/* Синяя кнопка при нажатии */
.btn-sky:active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}
/* Убираем рамку при фокусе на кнопках */
.btn:focus,
.btn:active:focus {
outline: none;
outline-offset: 0px;
}


/* картинка шапка и текст с фоном на картинке */
.example1 {
    
        margin-top: 0px;
        padding-top:20px;
        width:100%;
        padding-left:20px;
        height:400px;
        background-image:url("image-pizza.png");
         
        /*оформление текста*/
        color:#FFF;
        font-family:Arial, Helvetica, sans-serif;
        font-size:40px;

    }

.example1 span {
    display:inline-block;
    position:absolute;
    top:100px;   
    left:0px;
     
    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
     
    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
}

