{% extends "base_generic.html" %}

{% block content %}

    <h1>-------------------------------------------Drink List----------------</h1>

    {% if potato_list %}
    <ul>

      {% for potato in potato_list %}<!-- перебераются все напитки в дринклист(фото и название добавляются через админ ане через шаблон img) !-->
      
 <style>
   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
  </style>

      <div class="col-md-4 col-md-offset-4"><!--смещает блок на 4 еденицы влево !-->
      <li> <a href="{{ potato.title }}"> {{ potato.title }} </li>
         <img src="{{ potato.potatophoto.url }}"> 

         <li> {{ potato.price }}</a>  <hr /></li>
       </div>
     
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no potatos in the pizzeria.</p>
    {% endif %}       
{% endblock %}


{% for pic in post.picture_set.all %}
    <img src="{{ pic.picture.url }}"/>
{% endfor %}